@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.header {
  min-height: 60vh;
  background: #c5bb9f;
  background: linear-gradient(to right, #735400, #a08e5c);
  color: white;
  clip-path: ellipse(100vw 60vh at 50% 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.details {
  text-align: center;
}

#profile-pic {
  width: 100px;
  height: 100px;
  object-fit: center;
  border-radius: 50%;
  align-items: center;
}

.location p {
  display: inline-block;
}

.location svg {
  vertical-align: middle;
}

#stats {
  display: flex;
}

.stats .col-4 {
  width: 10rem;
  text-align: center;
}

.heading {
  font-weight: 400;
  font-size: 1.3rem;
  margin: 1rem 0;
}